<footer>
    <div class="footer">
        <div class="social-media-account">
            <div> <a href="#" target="_blank"><img src="./images/facebook-circle-svgrepo-com.svg"
                        alt="facebook-circle-svgrepo-com"></a>
            </div>
            <div> <a href="#" target="_blank"><img src="./images/instagram-svgrepo-com.svg"
                        alt="instagram-svgrepo-com"></a>
            </div>
            <div> <a href="#" target="_blank"><img src="./images/twitter-round-svgrepo-com.svg"
                        alt="twitter-round-svgrepo-com"></a></div>
        </div>
        <div>
            <span> &copy; <span id="date"> </span> The FOKHS. All rights reserved</span>
        </div>
    </div>
</footer>
<!-- ========== End of the footer section ========== -->



<!-- ========== End of the Content Container ========== -->
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="./script/script.js"></script>

</body>

</html>