@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

.navbar-brand>img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.navbar-collapse {
    justify-content: end;
}

nav {
    background-color: green !important;
    z-index: 1;

}

nav a {
    color: white !important;
    font-family: "SUSE", sans-serif;
}

nav a:hover {
    color: black !important;
    border: none;
    border-bottom: 2px solid;
    text-transform: uppercase;
}

nav {
    position: fixed !important;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

div.image>img {
    width: 100%;
    height: 80vh;
    object-fit: fill;
}

div.image-container {
    position: relative;
}

div.image {
    position: relative;
}

div.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: white;
}

.text-overlay>h1 {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 5px 2px black;
    animation: bounceInDown;
    animation-duration: 2s;
    animation-delay: 1s;
}

.text-overlay>p {
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 5px 2px black;
    animation: bounceInDown;
    animation-duration: 2s;
    animation-delay: 1s;
    font-size: xx-large;
    font-optical-sizing: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 5px;
}

div.main-container {
    margin-top: 50px;
}

footer {
    width: 100%;
    background-color: green;
    color: white;
    padding: 1.5%;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: large;
}

div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


div.social-media-account>div>a>img {
    height: 40px;
    width: 40px;
}

div.social-media-account {
    display: flex
}

div.social-media-account>div {
    margin-left: 2%;
    margin-right: 2%;
}

div.social-media-account>div>a>img:hover {
    padding-bottom: 20px;
}

div.testimonial-grid {
    display: flex;
    flex-direction: column;
}

div.testimonial-item {
    display: flex;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1%;
    margin-bottom: 2%;
    border-radius: 10px;
    animation: zoomInDown;
    animation-duration: 4s;
    animation-delay: 2s;
}

div.profile {
    display: flex;
    align-items: center;
    justify-self: flex-start;
    align-self: flex-start;
    width: 100%;
}

div.testimonial-item>div.testimonial-message>div.profile>img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid green;
    margin-right: 2%;
}

div.profile>div {
    font-size: larger;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

div.testimonial-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    justify-self: center;
    align-self: center;

}

div.testimonial-name {
    justify-self: flex-start;
    align-self: flex-start;
    width: 80%;
}

div.testimonial-name {
    font-size: larger;
}

span.user-name {
    font-weight: bolder;
    font-family: "Roboto Condensed", sans-serif;
    text-decoration: solid;
    font: bolder;
    text-transform: capitalize;
}

div.testimonial-message>p {
    font-size: larger;
    font-weight: 300;
}

div.content-container {
    padding: 5%;
}

.testimonial>h1 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

h2.fountain-lead {
    letter-spacing: 2px;
    font-size: larger;
    color: green;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: xx-large;
    text-align: center;
}

body {
    background-color: #F5F7F8;
}