<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/about.css">
    <!-- ========== End of the nav bar ========== -->
    <!-- ========== Start of the Image Container ========== -->
    <div class="main-container">
        <div class="image-container">
            <div class="image">
                <img src="./images/school_image-container.jpg" alt="Fountain Option Knowledge High School">
            </div>
            <div class="text-overlay">
                <h1>Fountain Option Knowledge High School</h1>
                <p>About Us</p>
            </div>
        </div>
        <!-- ========== End of the Image Container ========== -->
        <!-- ========== Start of the content container ========== -->
        <div class="content-container">
            <div class="school-history margin-item">
                <h1>School History</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus esse corporis labore ea
                    asperiores adipisci dolorem, perspiciatis ut sequi id. Sint repellat, ducimus laboriosam fugiat
                    officiis modi minima atque labore. Numquam ea vero quisquam doloremque eum nobis eaque totam
                    voluptates, blanditiis dignissimos laudantium beatae nostrum! Distinctio nulla aperiam provident
                    rerum?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure modi autem corrupti cum officia. Porro
                    laborum eaque, animi laudantium cumque numquam provident cupiditate aliquid perspiciatis, ad,
                    adipisci deserunt. Magni nostrum, rem, dignissimos quis perferendis molestias autem quisquam magnam,
                    voluptatibus quod eos tempore nulla! Expedita ullam maiores, hic delectus dolores tenetur eius, id
                    modi rem rerum ipsam dolorem nam blanditiis consectetur beatae quasi fugiat nisi, magnam non?
                    Aspernatur harum dolores illo?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum itaque, dicta quibusdam temporibus
                    pariatur officiis reprehenderit adipisci voluptas id soluta reiciendis dignissimos quisquam dolore
                    ea voluptates vel sunt tempore, optio maxime eveniet nisi? Dignissimos dicta nisi quas harum
                    doloribus. Similique earum quidem voluptates, quisquam sed perferendis tenetur consectetur sint
                    reprehenderit architecto! Velit nesciunt eum doloremque voluptatum praesentium repellendus
                    inventore! Itaque exercitationem dolor corporis rem dolore id, in error, neque ipsam velit quod
                    deserunt enim modi.</p>
            </div>
            <div class="vision margin-item">
                <h1>Vision and Mission</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus esse corporis labore ea
                    asperiores adipisci dolorem, perspiciatis ut sequi id. Sint repellat, ducimus laboriosam fugiat
                    officiis modi minima atque labore. Numquam ea vero quisquam doloremque eum nobis eaque totam
                    voluptates, blanditiis dignissimos laudantium beatae nostrum! Distinctio nulla aperiam provident
                    rerum?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure modi autem corrupti cum officia. Porro
                    laborum eaque, animi laudantium cumque numquam provident cupiditate aliquid perspiciatis, ad,
                    adipisci deserunt. Magni nostrum, rem, dignissimos quis perferendis molestias autem quisquam magnam,
                    voluptatibus quod eos tempore nulla! Expedita ullam maiores, hic delectus dolores tenetur eius, id
                    modi rem rerum ipsam dolorem nam blanditiis consectetur beatae quasi fugiat nisi, magnam non?
                    Aspernatur harum dolores illo?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum itaque, dicta quibusdam temporibus
                    pariatur officiis reprehenderit adipisci voluptas id soluta reiciendis dignissimos quisquam dolore
                    ea voluptates vel sunt tempore, optio maxime eveniet nisi? Dignissimos dicta nisi quas harum
                    doloribus. Similique earum quidem voluptates, quisquam sed perferendis tenetur consectetur sint
                    reprehenderit architecto! Velit nesciunt eum doloremque voluptatum praesentium repellendus
                    inventore! Itaque exercitationem dolor corporis rem dolore id, in error, neque ipsam velit quod
                    deserunt enim modi.</p>
            </div>
        </div>
        <!-- ========== End of the content container ========== -->

    </div>


    <!-- ========== Start of the footer section ========== -->
    <%- include("partials/footer.ejs") %>