<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/contact.css">
    <!-- End section of the nav bar -->
    <!-- ========== Start of th main content ========== -->
    <div class="main-container">
        <div class="image-container">
            <div class="image">
                <img src="./images/school_image-container.jpg" alt="Fountain Option Knowledge High School">
            </div>
            <div class="text-overlay">
                <h1>Fountain Option Knowledge High School</h1>
                <p>Contact</p>
            </div>
        </div>
        <!-- ========== Start of the content section ========== -->
        <div class="content-container">

            <div class="contact-form">
                <div class="form">
                    <h1>Contact Us</h1>
                    <form action="/contact" method="post">
                        <div class="input">
                            <input type="text" name="name" id="name" placeholder="Input your Full Name"
                                autocomplete="name">
                            <p class="error " id="name-error"></p>
                        </div>
                        <div class="input">
                            <input type="email" name="emailAddress" id="emailAddress"
                                placeholder="Input your Email Address" autocomplete="email">
                            <p class="error" id="email-error"></p>
                        </div>
                        <div class="input">
                            <textarea name="message" id="message" cols="20" rows="7"
                                placeholder="Input your Message.(Minimum Message Length is 20 letters)"></textarea>
                            <p class="error " id="message-error"></p>
                        </div>
                        <div class="button">
                            <input type="submit" value="Submit" id="submit">
                        </div>
                    </form>
                </div>
                <div class="image-container">
                    <img src="./images/school_image-container.jpg" alt="school Logo">
                </div>
            </div>
        </div>
        <!-- ========== End of the content section ========== -->

    </div>
    <script src="./script/contact.js"></script>
   