<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/style.css">
    <!-- ========== End of the nav bar ========== -->
    <!-- ========== Start of the Image Container ========== -->
    <div class="main-container">
        <div class="image-container">
            <div class="image">
                <img src="./images/school_image-container.jpg" alt="Fountain Option Knowledge High School">
            </div>
            <div class="text-overlay">
                <h1>Fountain Option Knowledge High School</h1>
                <p>...Synonymous to Academy Excellence</p>
                <div class="header-button">
                    <a href="./about.html">About Us</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
        <!-- ========== End of the Image Container ========== -->
        <!-- ========== Start of the Content Container ========== -->
        <div class="content-container">
            <!-- ========== Start of the welcome container ========== -->
            <div class="welcome-container">
                <h1>Welcome to Fountain Option Knowledge High School</h1>
                <div class="welcome">

                    <div class="welcome-message">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem assumenda quia maiores
                        laudantium dolores inventore perspiciatis nemo ipsum vero tenetur sint ducimus expedita, quasi,
                        enim incidunt laboriosam iusto. Tempora voluptatem nam minus nesciunt vitae aliquam earum. Minus
                        nam ipsam inventore reiciendis quidem odio animi quam, rem doloremque illum? Adipisci,
                        asperiores.
                        <div class="welcome-button">
                            <a href="#">Learn More</a>
                        </div>
                    </div>
                    <div class="welcome-image">
                        <img src="./images/lab.jpg" alt="school_logo">
                    </div>

                </div>
            </div>
            <!-- ========== End of the welcome container ========== -->
            <!-- ========== Start of the about container ========== -->
            <div class="about-container">
                <h2 class="fountain-lead">Fountain's</h2>
                <h1>About Us</h1>
                <div class="about">

                    <div class="about-message">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem assumenda quia maiores
                        laudantium dolores inventore perspiciatis nemo ipsum vero tenetur sint ducimus expedita, quasi,
                        enim incidunt laboriosam iusto. Tempora voluptatem nam minus nesciunt vitae aliquam earum. Minus
                        nam ipsam inventore reiciendis quidem odio animi quam, rem doloremque illum? Adipisci,
                        asperiores.
                        <div class="about-button">
                            <a href="#">About Us</a>
                        </div>
                    </div>
                    <div class="about-image">
                        <img src="./images/about-me.jpg" alt="school_logo">
                    </div>
                </div>
            </div>
            <!-- ========== End of the about container ========== -->
            <!-- ========== Start of the principal officer ========== -->
            <div class="principal-officer">
                <h2 class="fountain-lead">Fountain's</h2>
                <h1>Principal Officer </h1>
                <div class="principal">
                    <div class="principal-item first-principal-item">
                        <div class="profile-picture"><img src="./images/profile-svgrepo-com.svg" alt="profile-picture">
                        </div>
                        <div class="principal-name">Lorem, ipsum dolor.</div>
                        <div class="office">Lorem ipsum dolor sit amet.</div>
                        <div class="about-principal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
                            quidem tempora rem reiciendis explicabo amet magnam beatae deserunt quaerat, omnis quisquam,
                            in distinctio praesentium. Ad quis natus nostrum ut inventore!</div>
                        <div class="principal-footer">
                            <div> <a href="#"><img src="./images/facebook-circle-svgrepo-com.svg"
                                        alt="facebook-circle-svgrepo-com"></a>
                            </div>
                            <div> <a href="#"><img src="./images/instagram-svgrepo-com.svg"
                                        alt="instagram-svgrepo-com"></a></div>
                            <div> <a href="#"><img src="./images/twitter-round-svgrepo-com.svg"
                                        alt="twitter-round-svgrepo-com"></a></div>
                        </div>
                    </div>
                    <div class="principal-item second-principal-item">
                        <div class="profile-picture"><img src="./images/profile-svgrepo-com.svg" alt="profile-picture">
                        </div>
                        <div class="principal-name">Lorem, ipsum dolor.</div>
                        <div class="office">Lorem ipsum dolor sit amet.</div>
                        <div class="about-principal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
                            quidem tempora rem reiciendis explicabo amet magnam beatae deserunt quaerat, omnis quisquam,
                            in distinctio praesentium. Ad quis natus nostrum ut inventore!</div>
                        <div class="principal-footer">
                            <div> <a href="#"><img src="./images/facebook-circle-svgrepo-com.svg"
                                        alt="facebook-circle-svgrepo-com"></a>
                            </div>
                            <div> <a href="#"><img src="./images/instagram-svgrepo-com.svg"
                                        alt="instagram-svgrepo-com"></a></div>
                            <div> <a href="#"><img src="./images/twitter-round-svgrepo-com.svg"
                                        alt="twitter-round-svgrepo-com"></a></div>
                        </div>
                    </div>
                    <div class="principal-item third-principal-item">
                        <div class="profile-picture"><img src="./images/profile-svgrepo-com.svg" alt="profile-picture">
                        </div>
                        <div class="principal-name">Lorem, ipsum dolor.</div>
                        <div class="office">Lorem ipsum dolor sit amet.</div>
                        <div class="about-principal">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
                            quidem tempora rem reiciendis explicabo amet magnam beatae deserunt quaerat, omnis quisquam,
                            in distinctio praesentium. Ad quis natus nostrum ut inventore!</div>
                        <div class="principal-footer">
                            <div> <a href="#"><img src="./images/facebook-circle-svgrepo-com.svg"
                                        alt="facebook-circle-svgrepo-com"></a>
                            </div>
                            <div> <a href="#"><img src="./images/instagram-svgrepo-com.svg"
                                        alt="instagram-svgrepo-com"></a></div>
                            <div> <a href="#"><img src="./images/twitter-round-svgrepo-com.svg"
                                        alt="twitter-round-svgrepo-com"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== End of the principal officer ========== -->
            <!-- ========== Start of the head of deaperement ========== -->
            <div class="head-officer">
                <h2 class="fountain-lead">Fountain's</h2>
                <h1>Head Of Departments </h1>
                <div class="head">
                    <div class="head-item first-head-item">
                        <div class="profile-picture"><img src="./images/profile-svgrepo-com.svg" alt="profile-picture">
                        </div>
                        <div class="head-name">Lorem, ipsum dolor.</div>
                        <div class="office">Lorem ipsum dolor sit amet.</div>
                        <div class="about-head">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
                            quidem tempora rem reiciendis explicabo amet magnam beatae deserunt quaerat, omnis quisquam,
                            in distinctio praesentium. Ad quis natus nostrum ut inventore!</div>
                        <div class="head-footer">
                            <div> <a href="#"><img src="./images/facebook-circle-svgrepo-com.svg"
                                        alt="facebook-circle-svgrepo-com"></a>
                            </div>
                            <div> <a href="#"><img src="./images/instagram-svgrepo-com.svg"
                                        alt="instagram-svgrepo-com"></a></div>
                            <div> <a href="#"><img src="./images/twitter-round-svgrepo-com.svg"
                                        alt="twitter-round-svgrepo-com"></a></div>
                        </div>
                    </div>
                    <div class="head-item second-head-item">
                        <div class="profile-picture"><img src="./images/profile-svgrepo-com.svg" alt="profile-picture">
                        </div>
                        <div class="head-name">Lorem, ipsum dolor.</div>
                        <div class="office">Lorem ipsum dolor sit amet.</div>
                        <div class="about-head">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
                            quidem tempora rem reiciendis explicabo amet magnam beatae deserunt quaerat, omnis quisquam,
                            in distinctio praesentium. Ad quis natus nostrum ut inventore!</div>
                        <div class="head-footer">
                            <div> <a href="#"><img src="./images/facebook-circle-svgrepo-com.svg"
                                        alt="facebook-circle-svgrepo-com"></a>
                            </div>
                            <div> <a href="#"><img src="./images/instagram-svgrepo-com.svg"
                                        alt="instagram-svgrepo-com"></a></div>
                            <div> <a href="#"><img src="./images/twitter-round-svgrepo-com.svg"
                                        alt="twitter-round-svgrepo-com"></a></div>
                        </div>
                    </div>
                    <div class="head-item third-head-item">
                        <div class="profile-picture"><img src="./images/profile-svgrepo-com.svg" alt="profile-picture">
                        </div>
                        <div class="head-name">Lorem, ipsum dolor.</div>
                        <div class="office">Lorem ipsum dolor sit amet.</div>
                        <div class="about-head">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet
                            quidem tempora rem reiciendis explicabo amet magnam beatae deserunt quaerat, omnis quisquam,
                            in distinctio praesentium. Ad quis natus nostrum ut inventore!</div>
                        <div class="head-footer">
                            <div> <a href="#"><img src="./images/facebook-circle-svgrepo-com.svg"
                                        alt="facebook-circle-svgrepo-com"></a>
                            </div>
                            <div> <a href="#"><img src="./images/instagram-svgrepo-com.svg"
                                        alt="instagram-svgrepo-com"></a></div>
                            <div> <a href="#"><img src="./images/twitter-round-svgrepo-com.svg"
                                        alt="twitter-round-svgrepo-com"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== End of the head of deaperement ========== -->
            <!-- ========== Start of the testimonial ========== -->
            <div class="testimonial">
                <h2 class="fountain-lead">Fountain's</h2>
                <h1>Testimonial</h1>
                <div class="testimonial-grid">
                    <div class="testimonial-item">

                        <div class="testimonial-message">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                non ducimus neque adipisci
                                illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                obcaecati
                                saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                suscipit
                                illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                voluptatum
                                aliquid?</p>
                            <div class="profile">
                                <img src="./images/student-thin-svgrepo-com.svg" alt="profile-svgrepo-com">
                                <div class="testimonial-name">
                                    <div><span class="user-name">Lorem, ipsum dolor.</span></div>
                                    <div>Student</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-message">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                non ducimus neque adipisci
                                illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                obcaecati
                                saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                suscipit
                                illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                voluptatum
                                aliquid?</p>
                            <div class="profile">
                                <img src="./images/parent-round-svgrepo-com.svg" alt="profile-svgrepo-com">
                                <div class="testimonial-name">
                                    <div><span class="user-name">Lorem, ipsum dolor.</span></div>
                                    <div>Parent</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-message">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                non ducimus neque adipisci
                                illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                obcaecati
                                saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                suscipit
                                illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                voluptatum
                                aliquid?</p>
                            <div class="profile">
                                <img src="./images/student-thin-svgrepo-com.svg" alt="profile-svgrepo-com">
                                <div class="testimonial-name">
                                    <div><span class="user-name">Lorem, ipsum dolor.</span></div>
                                    <div>Student</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="check-more">
                        <a href="./testimonial.html">Check More</a>
                    </div>
                </div>
            </div>
            <!-- ========== End of the testimonial ========== -->
        </div>
        <!-- ========== Start of the footer section ========== -->
        <%- include("partials/footer.ejs") %>