<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/login.css">
    <!-- End section of the nav bar -->
    <!-- ========== Start of th main content ========== -->
    <div class="main-container">
        <!-- ========== Start of the content section ========== -->
        <div class="content-container">
            <div class="contact-form">
                <div class="form-logo">
                    <img src="./images/school_logo.jpg" alt="school_logo">
                </div>
                <div class="form">
                    <h1>login</h1>
                    <div class="form-content">
                        <form action="">
                            <div class="input">
                                <input type="email" name="emailAddress" id="emailAddress"
                                    placeholder="Input your Email Address">
                                <p class="error" id="email-error"></p>
                            </div>
                            <div class="input">
                                <div class="password">
                                    <input type="password" name="password" id="password"
                                        placeholder="Input your Password">
                                    <img src="./images/eye-closed-svgrepo-com.svg" alt="Check Password" class="eye"
                                        id="eye">
                                </div>
                                <p class="error" id="password-error"></p>
                            </div>
                            <div class="button">
                                <input type="submit" id="submit" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End of the content section ========== -->

    </div>
    <script src="./script/login.js"></script>

    <%- include("partials/footer.ejs") %>