<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/login.css">
    <!-- End section of the nav bar -->
    <!-- ========== Start of th main content ========== -->
    <div class="main-container">
        <!-- ========== Start of the content section ========== -->
        <div class="content-container">
            <div class="contact-form">
                <div class="form-logo">
                    <img src="./images/school_logo.jpg" alt="school_logo">
                </div>
                <div class="form">
                    <h1>login</h1>
                    <div class="form-content">
                        <form action="">
                            <div class="input">
                                <input type="email" name="emailAddress" id="emailAddress"
                                    placeholder="Input your Email Address">
                                <p class="error" id="email-error"></p>
                            </div>
                            <div class="input">
                                <div class="password">
                                    <input type="password" name="password" id="password"
                                        placeholder="Input your Password">
                                    <img src="./images/eye-closed-svgrepo-com.svg" alt="Check Password" class="eye"
                                        id="eye">
                                </div>
                                <p class="error" id="password-error"></p>
                            </div>
                            <div class="button">
                                <input type="submit" id="submit" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End of the content section ========== -->

    </div>
    <script src="./script/login.js"></script>
    <footer>
        <div class="footer">
            <div class="social-media-account">
                <div> <a href="#" target="_blank"><img src="./images/facebook-circle-svgrepo-com.svg"
                            alt="facebook-circle-svgrepo-com"></a>
                </div>
                <div> <a href="#" target="_blank"><img src="./images/instagram-svgrepo-com.svg"
                            alt="instagram-svgrepo-com"></a>
                </div>
                <div> <a href="#" target="_blank"><img src="./images/twitter-round-svgrepo-com.svg"
                            alt="twitter-round-svgrepo-com"></a></div>
            </div>
            <div>
                <span> &copy; <span id="date"> </span> The FOKHS. All rights reserved</span>
            </div>
        </div>
    </footer>
    <!-- ========== End of th main content ========== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="./script/script.js"></script>

    </body>

    </html><%- include("partials/footer.ejs") %>