<%- include("partials/header.ejs") %>
    <link rel="stylesheet" href="./stylesheet/testimonial.css">
    <!-- End section of the nav bar -->
    <!-- ========== Start of th main content ========== -->
    <div class="main-container">
        <!-- ========== Start of the image overlay ========== -->
        <div class="image-container">
            <div class="image">
                <img src="./images/school_image-container.jpg" alt="Fountain Option Knowledge High School">
            </div>
            <div class="text-overlay">
                <h1>Fountain Option Knowledge High School</h1>
                <p>Testimonial</p>
            </div>
        </div>
        <!-- ========== End of the image overlay ========== -->
        <!-- ========== Start of the content section ========== -->
        <div class="content-container">
            <div class="testimonial">
                <h2 class="fountain-lead">Fountain's</h2>
                <h1>Testimonial</h1>
                <div class="testimonial-grid">
                    <div class="testimonial-item">

                        <div class="testimonial-message">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                non ducimus neque adipisci
                                illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                obcaecati
                                saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                suscipit
                                illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                voluptatum
                                aliquid?</p>
                            <div class="profile">
                                <img src="./images/student-thin-svgrepo-com.svg" alt="profile-svgrepo-com">
                                <div class="testimonial-name">
                                    <div><span class="user-name">Lorem, ipsum dolor.</span></div>
                                    <div>Student</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-message">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                non ducimus neque adipisci
                                illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                obcaecati
                                saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                suscipit
                                illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                voluptatum
                                aliquid?</p>
                            <div class="profile">
                                <img src="./images/parent-round-svgrepo-com.svg" alt="profile-svgrepo-com">
                                <div class="testimonial-name">
                                    <div><span class="user-name">Lorem, ipsum dolor.</span></div>
                                    <div>Parent</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="testimonial-item">
                        <div class="testimonial-message">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde
                                non ducimus neque adipisci
                                illum placeat fugit reprehenderit sed quod dolor dolorum earum, harum aliquid a
                                obcaecati
                                saepe, voluptate natus inventore commodi iusto. Quisquam eum asperiores inventore
                                suscipit
                                illo voluptatem doloribus nobis facere. Rerum quos illo officia doloremque, sit
                                voluptatum
                                aliquid?</p>
                            <div class="profile">
                                <img src="./images/student-thin-svgrepo-com.svg" alt="profile-svgrepo-com">
                                <div class="testimonial-name">
                                    <div><span class="user-name">Lorem, ipsum dolor.</span></div>
                                    <div>Student</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End of the content section ========== -->

    </div>
    <%- include("partials/footer.ejs") %>